{% extends 'base.html' %}
{% block title %}Patients{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome to patients page</h1>
</div>
{% import 'bootstrap/wtf.html' as wtf %}
<button class="btn" data-toggle="collapse" data-target="#demo">Sort by</button>

<div id="demo" class="collapse">
    {{ wtf.quick_form(form) }}
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Street</th>
            </tr>
        </thead>
        <tbody>
            {% for firstName,lastName,street in patients %}
                <tr>
                    <td>{{ firstName }}</td>
                    <td>{{ lastName }}</td>
                    <td>{{ street }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}