{% extends 'base.html' %}
{% block title %}Therapists{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome to therapists page</h1>
</div>
{% import 'bootstrap/wtf.html' as wtf %}
<button class="btn" data-toggle="collapse" data-target="#demo">Sort by</button>

<div id="demo" class="collapse">
    {{ wtf.quick_form(form) }}
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Reason</th>
                <th>Patient</th>
                <th>Therapist</th>
            </tr>
        </thead>
        <tbody>
            {% for date,reason,patient,therapist in visits %}
                <tr>
                    <td>{{ date }}</td>
                    <td>{{ reason }}</td>
                    <td>{{ patient }}</td>
                    <td>{{ therapist }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}