{% extends 'base.html' %}
{% block title %}Therapists{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome to therapists page</h1>
</div>
{% import 'bootstrap/wtf.html' as wtf %}
<button class="btn" data-toggle="collapse" data-target="#demo">Sort by</button>

<div id="demo" class="collapse">
    {{ wtf.quick_form(form) }}
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Speciality</th>
                <th>Shift</th>
            </tr>
        </thead>
        <tbody>
            {% for firstName,lastName,speciality,shift in therapists %}
                <tr>
                    <td>{{ firstName }}</td>
                    <td>{{ lastName }}</td>
                    <td>{{ speciality }}</td>
                    <td>{{ shift }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}